<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../resources/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="icon" href="../favicon.png" type="image/x-icon">
  <title>RescueRota | Dashboard</title>
</head>
<body>

  <header>
    <div class="container">
      <div id="Logo">
        <h1><a>Rescue</a>Rota</h1>
      </div>
      <nav>
        <ul>
          <li><a class="active" href="dashboard.html">Dashboard</a></li>
          <li><a href="fullRota.html">Full Rota</a></li>
          <li><a href="userControl.html">User Control</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="container-body">
      <div class="CreateRota" style="padding-right: 60px;">
        <h1>Create Rota</h1>

        <h2>Series Rota</h2>

        <p>The series rota includes both points and icebreaker series racing, click on the "New Series" button to get started.</p>

        <button id="seriesRotaModalBtn" class="btn" onclick="seriesRota()">New Series</button>

        <div class="sModal" id="SeriesRotaModal">
          <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <h2>Create an Series Rota</h2>
            <p>Select the number of boats for each race:</p>
            <select name="boatNo">
              <option value="1">1 Rescue Boat</option>
              <option value="2">2 Rescue Boat's</option>
              <option value="3">3 Rescue Boat's</option>
            </select>

            <p>Select the number of people per boat:</p>
            <select name="boatNo">
              <option value="2">2 Personnel</option>
              <option value="3">3 Personnel</option>
            </select>

            <p>Select the series start date:</p>
            <input class="date-input" type="date" name="seriesStart">

            <p>Select the series finish date:</p>
            <input class="date-input" type="date" name="seriesEnd" style="margin-bottom: 20px;"><br>

            <input class="submitBtn" type="submit" onclick="seriesRotaDefine()">
          </div>
        </div>

        <h2>Event Rota</h2>

        <p>The event rota covers all events hosted at the yacht club, click on the "New Event" button to get started.</p>

        <button id="eventRotaModalBtn" class="btn" onclick="eventRota()">New Event</button>

        <div class="eModal" id="EventRotaModal">
          <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <h2>Create a Event Rota</h2>

            <label for="lastName">Rota Name:</label><br>
            <input class="addUserInput" id="lastName" type="text" palceholder="Last Name">

            <p>Select the number of boats for each race:</p>
            <select name="boatNo">
              <option value="1">1 Boat</option>
              <option value="2">2 Boat's</option>
              <option value="3">3 Boat's</option>
              <option value="3">4 Boat's</option>
              <option value="3">5 Boat's</option>
              <option value="3">6 Boat's</option>
              <option value="3">7 Boat's</option>
              <option value="3">8 Boat's</option>
              <option value="3">9 Boat's</option>
            </select>

            <p>Select the number of Marklayers:</p>
            <select name="MarklayerNo">
              <option value="1">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <p>Select the number of crew per boat (don't include extras):</p>
            <select name="boatNo">
              <option value="2">2 Personnel</option>
              <option value="3">3 Personnel</option>
            </select>

            <p>When does the event start:</p>


            <p>How many days does the event last?:</p>
            <select name="eventLength" style="margin-bottom: 20px;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select><br>

            <input class="submitBtn" type="submit" value="Create" onclick="eventRotaDefine()">
          </div>
        </div>

      </div>

      <div class="UpComing">
        <h1>Up Coming</h1>

        <div class="card">
          <div class="card-content">
            <h2>Sunday</h2>
            <p>Boat 1, 2, 3... etc</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h2>Sunday</h2>
            <p>Boat 1, 2, 3... etc</p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <h2>Sunday</h2>
            <p>Boat 1, 2, 3... etc</p>
          </div>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <hr>
    <p>RescueRota, Finlay McLees &copy; 2018</p>
  </footer>

<script src="../resources/jquery/jquery.min.js"></script>
<script src="../resources/db/database.json" charset="utf-8"></script>
<script src="../resources/js/modal.js" charset="utf-8"></script>
<script src="../resources/js/app.js" charset="utf-8"></script>
</body>
</html>
