<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../resources/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="icon" href="../favicon.png" type="image/x-icon">
  <title>RescueRota | Full Rota</title>
</head>
<body>

<header>
  <div class="container">
    <div id="Logo">
      <h1><a>Rescue</a>Rota</h1>
    </div>
    <nav>
      <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a class="active" href="fullRota.html">Full Rota</a></li>
        <li><a href="userControl.html">User Control</a></li>
      </ul>
    </nav>
  </div>
</header>

<footer>
  <hr>
  <p>RescueRota, Finlay McLees &copy; 2018</p>
</footer>

<script src="../resources/js/fullRotaController.js" charset="utf-8"></script>
</body>
</html>
